## -*- coding: utf-8 -*-
<html>
<head>
    <meta charset="utf-8">
    <style>
a {text-decoration: none;}
    </style>
</head>
<body>
<table align="left" border="1" cellpadding="1" cellspacing="0" style="font-size:125%; margin-right:1.0em; margin-bottom:0.5em; text-align:center; vertical-align:bottom; border-collapse:collapse; background:transparent;">
    <tr>
        <td colspan="27" style="font-size:85%; text-align:center; line-height:1.25em; background:#F2F2CE; border:1px solid #aaa">
            <strong class="selflink">IPA pulmonic consonants</strong>
        </td>
    </tr>
<tr style="vertical-align:top; line-height:2.0em; font-size:75%;">
<td style="border:2px solid; border-width:0px 2px 0px 1px; text-align:right">Place&#160;→</td>
<td colspan="4" style="border:1px solid; border-width:0px 1px 1px 0">Labial</td>
<td colspan="9" style="width:12em; border:1px solid; border-width:0px 1px 1px 0">Coronal</td>
<td colspan="7" style="width:9em; border:1px solid; border-width:0px 1px 1px 0">Dorsal</td>
<td colspan="4" style="border:1px solid; border-width:0px 1px 1px 0">Radical</td>
<td colspan="2" style="border:1px solid; border-width:0px 1px 1px 0">Glottal</td>
</tr>
<tr style="vertical-align:top; font-size:75%; border:2px solid; border-width:0px 0px 2px">
<td style="width:*; border:2px solid; border-width:0px 2px 2px 1px; vertical-align:bottom; text-align:left;">↓&#160;Manner</td>
<td colspan="2" style="width:3em;">Bila­bial</td>
<td colspan="2" style="border:1px solid; border-width:0px 1px 0">Den​tal</td>
<td colspan="2" style="border:1px solid; border-width:0px 1px 0">Alve​olar</td>
<td colspan="2" style="border:1px solid; border-width:0px 1px 0">Post­alveolar</td>
<td colspan="2" style="border:1px solid; border-width:0px 1px 0">Retro​flex</td>
<td colspan="2" style="border:1px solid; border-width:0px 1px 0">Alveolo-​palatal</td>
<td colspan="2" style="border:1px solid; border-width:0px 1px 0">Pal​a​tal</td>
<td colspan="2" style="border:1px solid; border-width:0px 1px 0">Ve​lar</td>
<td colspan="2" style="border:1px solid; border-width:0px 1px 0">Uvu​lar</td>
<td colspan="2" style="border:1px solid; border-width:0px 1px 0">Pha​ryn​geal</td>
<td colspan="2" style="border:1px solid; border-width:0px 1px 0">Epi​glot​tal</td>
<td colspan="2" style="border:1px solid; border-width:0px 1px 0">Glot​tal</td>
</tr>
<tr>
<td style="text-align:left; font-size:75%; border:2px solid; border-width:0px 2px 0px 1px">Nasal</td>
<td style="border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_bilabial_nasal" title="Voiceless bilabial nasal">m̥</a></span></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Bilabial_nasal" title="Bilabial nasal">m</a></span></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Labiodental_nasal" title="Labiodental nasal">ɱ</a></span></td>
<td style="border:1px solid; border-right:none;" colspan="2"></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_alveolar_nasal" title="Voiceless alveolar nasal" class="mw-redirect">n̥</a></span></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Alveolar_nasal" title="Alveolar nasal">n</a></span></td>
<td style="border:1px solid; border-left:none;" colspan="2"></td>
<td style="border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_retroflex_nasal" title="Voiceless retroflex nasal">ɳ̊</a></span></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Retroflex_nasal" title="Retroflex nasal">ɳ</a></span></td>
<td style="border:1px solid; border-right:none;" colspan="2"></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_palatal_nasal" title="Voiceless palatal nasal">ɲ̊</a></span></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Palatal_nasal" title="Palatal nasal">ɲ</a></span></td>
<td style="border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_velar_nasal" title="Voiceless velar nasal">ŋ̊</a></span></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Velar_nasal" title="Velar nasal">ŋ</a></span></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Uvular_nasal" title="Uvular nasal">ɴ</a></span></td>
<td style="border:1px solid; background:#ccc;" colspan="2"></td>
<td style="border:1px solid; background:#ccc;" colspan="2"></td>
<td style="border:1px solid; background:#ccc;" colspan="2"></td>
</tr>
<tr>
<td style="font-size:75%; text-align:left; border:2px solid; border-width:0px 2px 0px 1px">Stop</td>
<td style="border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_bilabial_stop" title="Voiceless bilabial stop">p</a></span></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_bilabial_stop" title="Voiced bilabial stop">b</a></span></td>
<td style="border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_labiodental_stop" title="Voiceless labiodental stop">p̪</a></span></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_labiodental_stop" title="Voiced labiodental stop">b̪</a></span></td>
<td style="border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_dental_stop" title="Voiceless dental stop">t̪</a></span></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_dental_stop" title="Voiced dental stop">d̪</a></span></td>
<td style="border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_alveolar_stop" title="Voiceless alveolar stop">t</a></span></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_alveolar_stop" title="Voiced alveolar stop">d</a></span></td>
<td style="border:1px solid; border-left:none;" colspan="2"></td>
<td style="border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_retroflex_stop" title="Voiceless retroflex stop">ʈ</a></span></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_retroflex_stop" title="Voiced retroflex stop">ɖ</a></span></td>
<td style="border:1px solid; border-right:none;" colspan="2"></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_palatal_stop" title="Voiceless palatal stop">c</a></span></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_palatal_stop" title="Voiced palatal stop">ɟ</a></span></td>
<td style="border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_velar_stop" title="Voiceless velar stop">k</a></span></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_velar_stop" title="Voiced velar stop">ɡ</a></span></td>
<td style="border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_uvular_stop" title="Voiceless uvular stop">q</a></span></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_uvular_stop" title="Voiced uvular stop">ɢ</a></span></td>
<td style="border:1px solid; background:#fff" colspan="2"></td>
<td style="border:1px solid" colspan="2"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Epiglottal_stop" title="Epiglottal stop">ʡ</a></span></td>
<td style="border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Glottal_stop" title="Glottal stop">ʔ</a></span></td>
<td style="border:1px solid; border-left:none; background:#ccc"></td>
</tr>
<tr>
<td style="font-size:75%; text-align:left; border:2px solid; border-width:0px 2px 0px 1px">Sibilant fricative</td>
<td style="border:1px solid; background:#ccc;" colspan="2"></td>
<td style="border:1px solid; background:#ccc;" colspan="2"></td>
<td style="border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_dental_sibilant" title="Voiceless dental sibilant" class="mw-redirect">s̪</a></span></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_dental_sibilant" title="Voiced dental sibilant" class="mw-redirect">z̪</a></span></td>
<td style="width:1.5em; border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_alveolar_sibilant" title="Voiceless alveolar sibilant" class="mw-redirect">s</a></span></td>
<td style="width:1.5em; border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_alveolar_sibilant" title="Voiced alveolar sibilant" class="mw-redirect">z</a></span></td>
<td style="width:1.5em; border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_palato-alveolar_sibilant" title="Voiceless palato-alveolar sibilant">ʃ</a></span></td>
<td style="width:1.5em; border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_palato-alveolar_sibilant" title="Voiced palato-alveolar sibilant">ʒ</a></span></td>
<td style="width:1.5em; border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_retroflex_sibilant" title="Voiceless retroflex sibilant">ʂ</a></span></td>
<td style="width:1.5em; border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_retroflex_sibilant" title="Voiced retroflex sibilant">ʐ</a></span></td>
<td style="width:1.5em; border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_alveolo-palatal_sibilant" title="Voiceless alveolo-palatal sibilant">ɕ</a></span></td>
<td style="width:1.5em; border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_alveolo-palatal_sibilant" title="Voiced alveolo-palatal sibilant">ʑ</a></span></td>
<td style="border:1px solid; background:#ccc;" colspan="2"></td>
<td style="border:1px solid; background:#ccc;" colspan="2"></td>
<td style="border:1px solid; background:#ccc;" colspan="2"></td>
<td style="border:1px solid; background:#ccc;" colspan="2"></td>
<td style="border:1px solid; background:#ccc;" colspan="2"></td>
<td style="border:1px solid; background:#ccc;" colspan="2"></td>
</tr>
<tr>
<td style="font-size:75%; text-align:left; border:2px solid; border-width:0px 2px 0px 1px">Non-sibilant fricative</td>
<td style="width:1.5em; border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_bilabial_fricative" title="Voiceless bilabial fricative">ɸ</a></span></td>
<td style="width:1.5em; border:1px solid; border-left:none; vertical-align:middle;" rowspan="2"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_bilabial_fricative" title="Voiced bilabial fricative">β</a></span></td>
<td style="width:1.5em; border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_labiodental_fricative" title="Voiceless labiodental fricative">f</a></span></td>
<td style="width:1.5em; border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_labiodental_fricative" title="Voiced labiodental fricative">v</a></span></td>
<td style="width:1.5em; border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_dental_non-sibilant_fricative" title="Voiceless dental non-sibilant fricative" class="mw-redirect">θ</a></span></td>
<td style="width:1.5em; border:1px solid; border-left:none; vertical-align:middle;" rowspan="2"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_dental_fricative" title="Voiced dental fricative">ð</a></span></td>
<td style="width:1.5em; border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_alveolar_non-sibilant_fricative" title="Voiceless alveolar non-sibilant fricative" class="mw-redirect">θ̱</a></span></td>
<td style="width:1.5em; border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_alveolar_non-sibilant_fricative" title="Voiced alveolar non-sibilant fricative" class="mw-redirect">ð̠</a></span></td>
<td style="width:1.5em; border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_postalveolar_non-sibilant_fricative" title="Voiceless postalveolar non-sibilant fricative" class="mw-redirect">ɹ̠̊˔</a></span></td>
<td style="width:1.5em; border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_postalveolar_non-sibilant_fricative" title="Voiced postalveolar non-sibilant fricative" class="mw-redirect">ɹ̠˔</a></span></td>
<td style="width:1.5em; border:1px solid; border-right:none"></td>
<td style="width:1.5em; border:1px solid; border-left:none"></td>
<td style="border:1px solid; border-right:none;" colspan="2"></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_palatal_fricative" title="Voiceless palatal fricative">ç</a></span></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_palatal_fricative" title="Voiced palatal fricative">ʝ</a></span></td>
<td style="width:1.5em; border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_velar_fricative" title="Voiceless velar fricative">x</a></span></td>
<td style="width:1.5em; border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_velar_fricative" title="Voiced velar fricative">ɣ</a></span></td>
<td style="width:1.5em; border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_uvular_fricative" title="Voiceless uvular fricative">χ</a></span></td>
<td style="width:1.5em; border:1px solid; border-left:none; vertical-align:middle;" rowspan="2"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_uvular_fricative" title="Voiced uvular fricative">ʁ</a></span></td>
<td style="width:1.5em; border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_pharyngeal_fricative" title="Voiceless pharyngeal fricative">ħ</a></span></td>
<td style="width:1.5em; border:1px solid; border-left:none; vertical-align:middle;" rowspan="2"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_pharyngeal_fricative" title="Voiced pharyngeal fricative">ʕ</a></span></td>
<td style="width:1.5em; border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_epiglottal_fricative" title="Voiceless epiglottal fricative">ʜ</a></span></td>
<td style="width:1.5em; border:1px solid; border-left:none; vertical-align:middle;" rowspan="2"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_epiglottal_fricative" title="Voiced epiglottal fricative">ʢ</a></span></td>
<td style="width:1.5em; border:1px solid; border-right:none" rowspan="2"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_glottal_fricative" title="Voiceless glottal fricative">h</a></span></td>
<td style="width:1.5em; border:1px solid; border-left:none; vertical-align:middle;" rowspan="2"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_glottal_fricative" title="Voiced glottal fricative">ɦ</a></span></td>
</tr>
<tr>
<td style="font-size:75%; text-align:left; border:2px solid; border-width:0px 2px 0px 1px">Approximant</td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Labiodental_approximant" title="Labiodental approximant">ʋ</a></span></td>
<td style="border:1px solid; border-width:1px 0"></td>
<td style="border:1px solid; border-width:1px 0"></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Alveolar_approximant" title="Alveolar approximant">ɹ</a></span></td>
<td style="border:1px solid; border-left:none;" colspan="2"></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Retroflex_approximant" title="Retroflex approximant">ɻ</a></span></td>
<td style="border:1px solid; border-right:none;" colspan="2"></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_palatal_approximant" title="Voiceless palatal approximant">j̊</a></span></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Palatal_approximant" title="Palatal approximant">j</a></span></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Velar_approximant" title="Velar approximant">ɰ</a></span></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-right:none"></td>
</tr>
<tr>
<td style="font-size:75%; text-align:left; border:2px solid; border-width:0px 2px 0px 1px">Flap or tap</td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span class="IPA"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Bilabial_flap" title="Bilabial flap">ⱱ̟</a></span></span></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span class="IPA"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Labiodental_flap" title="Labiodental flap">ⱱ</a></span></span></td>
<td style="border:1px solid; border-right:none;" colspan="2"></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_alveolar_flap" title="Voiceless alveolar flap" class="mw-redirect">ɾ̥</a></span></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Alveolar_flap" title="Alveolar flap">ɾ</a></span></td>
<td style="border:1px solid; border-left:none;" colspan="2"></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Retroflex_flap" title="Retroflex flap">ɽ</a></span></td>
<td style="border:1px solid" colspan="4"></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Uvular_flap" title="Uvular flap">ɢ̆</a></span></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Epiglottal_flap" title="Epiglottal flap">ʡ̯</a></span></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
</tr>
<tr>
<td style="font-size:75%; text-align:left; border:2px solid; border-width:0px 2px 0px 1px">Trill</td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Bilabial_trill" title="Bilabial trill">ʙ</a></span></td>
<td style="border:1px solid" colspan="2"></td>
<td style="border:1px solid; border-right:none;" colspan="2"></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_alveolar_trill" title="Voiceless alveolar trill" class="mw-redirect">r̥</a></span></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Alveolar_trill" title="Alveolar trill">r</a></span></td>
<td style="border:1px solid; border-left:none;" colspan="2"></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Retroflex_trill" title="Retroflex trill">ɽ͡r</a></span></td>
<td style="border:1px solid" colspan="4"></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_uvular_trill" title="Voiceless uvular trill">ʀ̥</a></span></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Uvular_trill" title="Uvular trill">ʀ</a></span></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Epiglottal_trill" title="Epiglottal trill">ᴙ</a></span> *</td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
</tr>
<tr>
<td style="font-size:75%; text-align:left; border:2px solid; border-width:0px 2px 0px 1px">Lateral&#160;fricative</td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; border-right:none;" colspan="2"></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_alveolar_lateral_fricative" title="Voiceless alveolar lateral fricative">ɬ</a></span></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_alveolar_lateral_fricative" title="Voiced alveolar lateral fricative">ɮ</a></span></td>
<td style="border:1px solid; border-left:none;" colspan="2"></td>
<td style="border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_retroflex_lateral_fricative" title="Voiceless retroflex lateral fricative">ꞎ</a></span>&#160;*</td>
<td style="border:1px solid; border-left:none"></td>
<td style="border:1px solid; border-right:none;" colspan="2"></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_palatal_lateral_fricative" title="Voiceless palatal lateral fricative">ʎ̝̊</a></span></td>
<td style="border:1px solid; border-left:none"></td>
<td style="border:1px solid; border-right:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_velar_lateral_fricative" title="Voiceless velar lateral fricative">ʟ̝̊</a></span></td>
<td style="width:0.5em; border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiced_velar_lateral_fricative" title="Voiced velar lateral fricative">ʟ̝</a></span></td>
<td style="border:1px solid" colspan="2"></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
</tr>
<tr>
<td style="font-size:75%; text-align:left; border:2px solid; border-width:0px 2px 0px 1px">Lateral&#160;approximant</td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; border-right:none;" colspan="2"></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Voiceless_alveolar_lateral_approximant" title="Voiceless alveolar lateral approximant" class="mw-redirect">l̥</a></span></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Alveolar_lateral_approximant" title="Alveolar lateral approximant">l</a></span></td>
<td style="border:1px solid; border-left:none;" colspan="2"></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Retroflex_lateral_approximant" title="Retroflex lateral approximant">ɭ</a></span></td>
<td style="border:1px solid; border-right:none;" colspan="3"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Palatal_lateral_approximant" title="Palatal lateral approximant">ʎ</a></span></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Velar_lateral_approximant" title="Velar lateral approximant">ʟ</a></span></td>
<td style="border:1px solid" colspan="2"></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
</tr>
<tr>
<td style="font-size:75%; text-align:left; border:2px solid; border-width:0px 2px 1px 1px">Lateral flap</td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; border-right:none;" colspan="2"></td>
<td style="border:1px solid; border-width:1px 0"></td>
<td style="border:1px solid; border-width:1px 0"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Alveolar_lateral_flap" title="Alveolar lateral flap">ɺ</a></span></td>
<td style="border:1px solid; border-left:none;" colspan="2"></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Retroflex_lateral_flap" title="Retroflex lateral flap">ɺ̢</a></span> *</td>
<td style="border:1px solid; border-right:none;" colspan="3"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Palatal_lateral_flap" title="Palatal lateral flap">ʎ̯</a></span></td>
<td style="border:1px solid; border-right:none"></td>
<td style="border:1px solid; border-left:none"><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Velar_lateral_flap" title="Velar lateral flap" class="mw-redirect">ʟ̆</a></span></td>
<td style="border:1px solid" colspan="2"></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
<td style="border:1px solid; background:#ccc" colspan="2"></td>
</tr>
</table>
</body>
</html>