.hljs-literal {
    color: #990073;
}
.hljs-number {
    color: #099;
}
.hljs-comment {
    color: #998;
    font-style: italic;
}
.hljs-keyword {
    color: #900;
    font-weight: bold;
}
.hljs-string {
    color: #d14;
}

code {
    padding: 0 .475rem .025rem;
}

mark {
    font: normal .8rem "mplus-heavy","DejaVu Sans","FreeSans",sans-serif;
    background-color: inherit;
    color: #999;
    border: none;
    font-weight: bold;
}